{% extends 'layouts/base.html' %}
{% block content %}
    <div class="row start">
        <div class="menu-circ links">
            <ul>
                <li>
                    <a class="hvr-underline-from-center" href="/settings"><h3>setting up</h3></a>
                </li>
                <p>In order to use this app
                    you have to set it up first.
                    - Please look up your DSL speed from your Internet Plan. You will need it in the next
                    step. Let's get started! </p>
            </ul>
        </div>
        <img class="logo" src="/static/images/ctrl.png">
    </div>
{% endblock %}
{% block additional_scripts %}
    <script type="text/javascript" src="/static/vendor-js/circle-progress.js"></script>
    <script type="text/javascript" src="/static/javascript/start.js"></script>
     <script type="text/javascript" src="/static/vendor-js/mo.min.js"></script>
{% endblock %}

