<div class="ui fixed borderless menu">
    <div class="ui container">
        <div class="ctb">
            <a href="/" class="header item">
                <img class="str" src="/static/images/circle.png">
            </a>
            <a href="/overview" class="header item">

                <img class="str" src="/static/images/stat.png">
            </a>
        </div>
        {% load speed_format from app_filters %}
        <div class="box center menu">
            <a name=""><p id="q">QoS </p></a>
            {{ x }}
        </div>
    </div>
</div>
