body {
    color: #ffffff;
    background-color: #12002c !important;
    font-family: "BRANDON LIGHT";
}

@font-face {
    font-family: "BRANDON LIGHT";
    src: url("/static/stylesheets/themes/default/assets/fonts/BRANDON_LIGHT.OTF");
}

@font-face {
    font-family: "BRANDON MEDIUM";
    src: url("/static/stylesheets/themes/default/assets/fonts/BRANDON_MED.OTF");
}

@font-face {
    font-family: "BRANDON BOLD";
    src: url("/static/stylesheets/themes/default/assets/fonts/BRANDON_BLD.OTF");
}

h1, h2, h3, h4, h5 {
    font-family: "BRANDON MEDIUM";
}

ul li {
    font-family: "BRANDON LIGHT";
}

body.unscroll {
    margin: 0;
    height: 100%;
    overflow: hidden;

}

ul p {
    font-family: "Brandon Text";
}

svg:not(:root) {
    display: block;
    margin: 0 auto;
}

p, a, p a {
    font-family: "BRANDON LIGHT" !important;
    font-size: 13px;
    letter-spacing: 1px;
}

table {
    font-family: "BRANDON LIGHT";
}

.ui .menu {
    background: none !important;
    top: 5% !important;
    border: none !important;
}

a.item {
    text-transform: uppercase !important;
    color: #ffffff;
}

.prompt {
    background-color: #12002c !important;
}

i.icon {
    color: #ffffff;
}

.circles {
    margin-bottom: -10px;
    margin: 0 auto;
    margin-top: 20%;
}

.circle {
    width: 72px;
    margin: 12px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
    margin-right: 80px;
    font-family: "BRANDON MEDIUM";
}

.circle canvas {
    vertical-align: top;
    width: 150px !important;
    height: 150px !important;
}

.circle strong {
    position: absolute;
    top: 45px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    font-weight: 400 !important;
}

.pblue {
    background-color: #12002c;
}

a img.str {
    width: 10% !important;
    height: auto;
}

.ui.icon.input > i.icon {
    opacity: 100 !important;
}

.box p, .field:last-child input[type='submit'] {
    position: relative;
    padding: 0 20px;
    border-radius: 20px;
    color: #fff;
    line-height: 32px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.box p {
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.box #server {
    cursor: default !important;
}

.box a p {
    cursor: pointer !important;
}

.list .box a p {
    cursor: pointer !important;
    text-transform: uppercase;
    width: 100%;
    font-size: 110% !important;

}

.list {
    z-index: 23;
    position: absolute;
}

.leg {
    padding-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 50%;
    width: 100%;
}

.container .box {
    margin: 0 auto !important;
}

.circles .box {
    margin: 0 !important;
    margin-top: 5% !important;
}

strong {
    font-weight: 300 !important;
}

.ctb {
    position: absolute;
    margin-top: 1%;
}

rect {
    fill: rgb(18, 0, 44) !important;
}

text, table th {
    fill: rgb(103, 104, 103);
    font-family: "BRANDON LIGHT";
    font-weight: lighter !important;
    letter-spacing: 2px;
}

path {
    stroke-width: 1;
}

a {
    color: #fff !important;
}

body.data {
    background-color: #fc007b !important;
}

#chart_div div table {
    display: none !important;
}

#chart_div {
    letter-spacing: 0 !important;
}

text[text-anchor^="end"] {
    display: none !important;
}

path[d="M1015,122.5L1045,122.5"],
path[d="M1015,146.5L1045,146.5"],
path[d="M1015,170.5L1045,170.5"] {
    display: none !important;
}

text[x="1051"] {
    fill: rgb(255, 255, 255) !important;
    float: right !important;
}

rect[x="191"] {
    fill: rgb(237, 237, 237) !important;

}

path[stroke="none"] {
    display: none !important;

}

.ui .container {
    margin: 0 !important;
    width: 100%;
}

table thead tr:first-child {
    border-collapse: collapse !important;
    border-top: 1px solid white !important;
    border-bottom: 1px solid white !important;
    border-left: 1px solid white !important;
    border-right: 1px solid white !important;
}

.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
    padding-top: 13px !important;
}

input[class="prompt"] {
    color: #c6c6c5 !important;
    background: transparent !important;
}

.ping canvas {
    stroke-style: rgb(107, 208, 239) !important;
}

.menu #gr {
    display: none;
}

.none {
    display: none !important;
}

.circle .cen {
    position: absolute;
    top: 82px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    font-family: "BRANDON LIGHT" !important;
}

tr th img {
    width: auto;
    height: 30px;
    margin-bottom: 5px;
}

tr th span {
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-top: 5px;
}

.ui.search .results {
    left: -57px !important;
}

g text[text-anchor="middle"] {
    display: none !important;
}

.input-k .box {
    margin-left: 0 !important;
    margin: 0 auto !important;
    border: none !important;
}

.set .input-k {
    float: right;
    display: none;
}

.set .list ul {
    width: 320px;
    list-style: none;
}

.input-k h3 {
    text-transform: uppercase !important;
    font-weight: 400;
    letter-spacing: 2px;
    margin-top: -20%;
    color: #ffffff;
    font-size: 3.4rem !important;
    border-bottom: 7px solid #ffffff !important;
    height: 65px;
}

.input-k h3 span {
    font-weight: 200 !important;
}

.input-k .borderless {
    border: none !important;
    z-index: 334;
}

.box {
    position: relative;
    /* display: inline-block; */
    /* height: 32px; */
    padding: 0 20px;
    color: #fff;
    line-height: 32px;
    cursor: default;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: center;
    margin-top: 10%;
}

label {
    color: #ffffff !important;
    font-family: 'BRANDON MEDIUM';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 400 !important;
    width: auto;
    text-align: left;
    font-size: 1.5em !important;
    margin-left: 10px !important;
    line-height: 20px;
}

input {
    font-family: 'Brandon LIGHT' !important;
    color: #ffffff !important;
    font-size: 1.2em !important;
    letter-spacing: 1px;
    padding: 0.5em !important;
    font-weight: 100 !important;
    border: none !important;
    background-color: #12002c !important;

}

.field:last-child input[type='submit'] {
    font-family: 'Brandon LIGHT';
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.3em !important;
    display: inline-block;
    background: none !important;
    color: #ffffff !important;

}

.ui.form input[type=text]:focus {
    border: none !important;
    color: #ffffff !important;
    float: left !important;
}

.ui.form input[type=text] {
    background: none !important;
    color: #ffffff !important;
}

.field .box {
    width: 100% !important;
    margin: 0 auto !important;
}

.two.fields input::-webkit-input-placeholder {
    text-align: left !important;
}

input::-webkit-input-placeholder {
    color: rgba(227, 227, 227, 0.5) !important;

}

input:-moz-placeholder { /* Firefox 18- */
    color: rgba(227, 227, 227, 0.5) !important;

}

input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(227, 227, 227, 0.5) !important;

}

input:-ms-input-placeholder {
    color: rgba(227, 227, 227, 0.5) !important;

}

.clear {
    clear: both;
}

.prtg.field {
    margin-top: 5% !important;
}

#prtg_fields {
    display: none;
}

.two.fields .field {
    margin-top: 0 !important;
}

.two.fields {
    margin-bottom: 0 !important;
}

.one.center.field {
    margin: 0 auto;

}

.one.center.field .box {
    line-height: 20px !important;
}

.two.fields.hidden {
    display: none;
}

.box.center.menu.dash {
    margin-left: 55% !important;
}

.box.center.menu #q {
    cursor: default !important;
}

.fixed {
    top: 0;
    position: fixed;
    width: auto;
    display: none;
    border: none;
}

th, td {
    text-align: center;
    padding: 5px 0;
}

table {
    border-collapse: collapse;
    width: 90%;
    table-layout: fixed;
}

#data thead {
    background-color: #12002c;
}

.chart {
    margin-top: 10%;
    margin-left: -2%;
}

#header-fixed {
    position: fixed;
    top: 0px;
    display: none;
    background-color: white;
}

table th {
    width: 20% !important;
}

.scroll-to-fixed-fixed tr.bordered {
    width: 100%;
    display: inline-table;
}

table thead tr:first-child {
    border: none !important;
}

.back-to-top {
    background: none !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff !important;

}

.ui.text.loader {
    color: #ffffff !important;
    font-family: "BRANDON MEDIUM" !important;
}

.ui.active.dimmer {
    background: #12002c !important;
    margin-top: 30% !important;

}

.logo {
    width: 80%;
    height: auto;
    margin-top: 2%;

}

form {
    margin-top: 5%;
}

.border {
    border: 1px solid white;
    border-radius: 20px;
    padding: 30px !important;
    padding-bottom: 0% !important;
}

.field.up, .field.down, .field.url, .field.token {

    margin-bottom: 5% !important;
}

.field.url input, .field.token input {
    color: #ffffff !important;
}

tr th span {
    color: #ffffff;
}

.prtg-set label {
    color: #ffffff !important;
}

.ui.toggle.checkbox input:checked ~ .box, .ui.toggle.checkbox input:checked ~ label {
    color: rgba(255, 255, 255, .95) !important;
}

.prtg-set span {
    position: absolute;
    margin-top: -25%;
    margin-left: 100%;
    width: 150%;
    letter-spacing: 2px;
    font-size: 20px !important;
    font-weight: 100 !important;
    font-family: "BRANDON LIGHT" !important;
}

h5 {
    font-weight: 200;
    font-size: 1.2em;
    font-family: "BRANDON LIGHT" !important;

}

.ui.centered.toggle.floated.checkbox.prtg-set {
    width: 50%;
    float: left;
    margin-bottom: 10%;
}

.prtg h5 {
    position: absolute;
    margin-top: -9%;
    margin-left: 32%;
}

.field.up,
.field.url,
.field.prtg.clearing {
    margin-left: 10% !important;
}

.one.center.field {
    width: 76%;
}

.sorted{
    background: none !important;
}

.menu-circ {
    position: absolute;
    width: auto !important;
    display: none;
    z-index: 232342;
    color: #12002c;
    margin-left: -5%;
}

.menu-circ ul li a h3,
.title-wrapper h3 {
    color: white;

    font-weight: 400;
    text-transform: uppercase !important;
    margin-top: 10px;
    font-size: 3.28rem;
}

.title-wrapper h5 {
    margin-top: 3%;
    margin-bottom: 5%;
}

.menu-circ ul {
    width: 600px;
    float: left;
}

.menu-circ ul li {
    list-style: none !important;
    display: inline-block;
}

ul p {
    margin-top: 5%;
    color: #ffffff;
    font-weight: 200;
    font-size: 1.2vw;
    width: 55%;
}

.row.start {
    margin-top: 25%;
    float: left !important;
    width: 100%;
}

.row.start .logo {
    width: 50%;
    height: auto;
    float: right;
    padding: 1%;
    display: none;

}

@media only screen
and (min-width: 1300px) {
    .unscroll.settings .container {
        width: 70% !important;
    }
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(2px) translateZ(0);
    transform: perspective(2px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;

}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 2%;
    background: #ffffff;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.set ul li span {
    letter-spacing: 0px !important;
    font-weight: 100 !important;

}

.set ul h4 {

    letter-spacing: 2px;
    color: #00fffe;
    border-bottom: 7px solid #ffffff !important;
    font-size: 1.8rem !important;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase !important;
    margin-top: 10px;
    font-size: 2.86rem !important;
}

.set ul #tit {
    margin-bottom: 5%;

}

.set ul li {
    padding-bottom: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    width: 103%;
}

.set ul li#up span,
.set ul li#down span,
.set ul li#prtg_url span {
    float: right !important;
    font-family: "BRANDON LIGHT" !important;

}

.set ul li {
    font-family: "BRANDON MEDIUM";
}

.prev a.settings {
    position: fixed;
    display: none;
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff !important;
    bottom: 50px;
    left: 80px;

}

#prtg_token {
    margin-bottom: 10%;
}

#prtg_token span {
    font-family: "BRANDON LIGHT" !important;
}

.field.url #url,
.field.prtg_token #prtg_token {
    width: 93%;
    float: left;
}

div.google-visualization-tooltip {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    border-color: #ffffff !important;
    width: 13% !important;

}

div.google-visualization-tooltip > ul > li > span {
    font-family: 'BRANDON MEDIUM' !important;
    color: #12002c !important;
    text-transform: uppercase !important;
}